{% macro search(placeholder) %}
    <form method="GET" action="{{ request.url }}">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="{{ placeholder }}" value="{{ request.values.get('query', '') }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span>
            {% set filter_keys = ['limit', 'page', 'query', '_pjax'] %}
            {% for key, value in request.values.items(multi=True) if not key in filter_keys %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
             {% endfor %}
        </div>
    </form>
{% endmacro %}
