Faker==0.8.6
Flask-Assets==0.12
Flask-Babel==0.11.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-RQ2==16.0.2
Flask-SQLAlchemy==2.3.2
Flask-Script==2.0.6
Flask-Travis==0.0.2
Flask-WTF==0.14.2
Flask==0.12.2
Jinja2==2.9.6
MarkupSafe==1.0
SQLAlchemy==1.1.15
WTForms==2.1
Werkzeug==0.12.2
arrow==0.10.0
blinker==1.4
cssmin==0.2.0
gunicorn==19.7.1
itsdangerous==0.24
jsmin==2.2.2
psycopg2==2.7.3.2
pytest==3.2.3
python-dateutil==2.6.1
redis==2.10.6
requests==2.18.4
