Faker==0.8.13
Flask-Assets==0.12
Flask-Babel==0.11.2
Flask-Bcrypt==0.7.1
Flask-Limiter==1.0.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-RQ2==18.0
Flask-SQLAlchemy==2.3.2
Flask-Script==2.0.6
Flask-Travis==0.0.2
Flask-WTF==0.14.2
Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.7
WTForms==2.1
Werkzeug==0.14.1
arrow==0.12.1
blinker==1.4
cssmin==0.2.0
gunicorn==19.8.1
itsdangerous==0.24
jsmin==2.2.2
psycopg2==2.7.4
pytest==3.5.1
python-dateutil==2.7.3
redis==2.10.6
requests==2.18.4
