{% extends 'layout.html' %}
{% from 'components.html' import pagination %}

{% block title %}Users{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% set sorts = ['username', 'email'] %}
                            {% for item in sorts %}
                                {% set sort = request.values.get('sort', 'username') %}
                                {% set order = request.values.get('order', 'desc') %}
                                {% set order = 'asc' if order == 'desc' else 'desc' %}
                                <th><a href="{{ url_for(request.endpoint, sort=item, order=order) }}">{{ item|title }}</a></th>
                            {% endfor %}
                            <th>Created Date</th>
                            <th>Last IP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users.items %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.edit', id=u.id) }}">{{ u.username }}</a>
                                    {% if u.is_admin %}
                                        <span class="label label-info">Admin</span>
                                    {% endif %}
                                </td>
                                <td>{{ u.email }}</td>
                                <td>{{ u.created_ts.strftime('%B %e, %Y') }}</td>
                                <td>{{ u.remote_addr }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            {{ pagination(users) }}
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
