{% extends 'layout.html' %}

{% block title %}
    Users
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <p class="lead">
        There are {{ stats.all }} users <a href="{{ url_for('.list') }}">Total</a>.
        {{ stats.active }} <a href="{{ url_for('.list', active=True) }}">Active</a>.
        {{ stats.inactive }} <a href="{{ url_for('.list', active=False) }}">Inactive</a>.
    </p>
    <hr>
    {% include 'components/search.html' %}
    <hr>
    <div id="pjax-container">
        {% include 'users.html' %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
