{% from 'components/pagination.html' import pagination %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {% for item in sorts %}
                    {% if request.values.get('sort', sorts[0]) == item %}
                        {% if request.values.get('order', 'asc') == 'asc' %}
                            <th>
                                <span class="glyphicon glyphicon-chevron-up"></span>
                                <a data-pjax href="{{ url_for_other_page(sort=item, order='desc') }}">{{ item|title }}</a>
                            </th>
                        {% else %}
                            <th>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                <a data-pjax href="{{ url_for_other_page(sort=item, order='asc') }}">{{ item|title }}</a>
                            </th>
                        {% endif %}
                    {% else %}
                        <th>
                            <a data-pjax href="{{ url_for_other_page(sort=item, order='asc') }}">{{ item|title }}</a>
                        </th>
                    {% endif %}
                {% endfor %}
                <th>Created Date</th>
                <th>Last IP</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users.items %}
                <tr>
                    <td><a href="{{ url_for('.edit', id=u.id) }}">{{ u.username }}</a></td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.created_ts.strftime('%B %e, %Y') }}</td>
                    <td>{{ u.remote_addr }}</td>
                </tr>
            {% else %}
                <tr><td colspan="4">No results found for: {{ request.values.get('query') }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ pagination(users) }}
