{% from 'components/field.html' import render_field %}
{% extends "layout.html" %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <form method="POST" action="{{ request.url }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Register
                </h3>
            </div>
            <div class="panel-body">
                {{ form.csrf_token }}
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                <div class="checkbox">
                    <label>
                        {{ form.accept_tos() }}
                        {{ form.accept_tos.label.text }}
                    </label>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-check"></i> {% trans %}Submit{% endtrans %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
