{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.password }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('create_user') }}">Create User</a>
{% endblock %}

{% block footer %}
    Request completed in: {{ g.request_time() }}
{% endblock %}
